# EditorConfig is awesome: https://EditorConfig.org

# 顶级EditorConfig文件
root = true

# 所有文件
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown文件
[*.md]
trim_trailing_whitespace = false

# JSON文件
[*.json]
insert_final_newline = false

# YAML文件
[*.{yml,yaml}]
indent_size = 2

# CSS/SCSS/LESS文件
[*.{css,scss,less}]
indent_size = 2

# HTML文件
[*.{html,htm}]
indent_size = 2

# JavaScript/TypeScript文件
[*.{js,jsx,ts,tsx}]
indent_size = 2

# Vue文件
[*.vue]
indent_size = 2